<!DOCTYPE html>
<!-- Set the language of your main document. This helps screenreaders use the proper language profile, pronunciation, and accent. -->
<html lang='en'>
<head>
  <title>{{.ProjectName}} {{.Version}} is here!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body
link="#3d53f5"
>
<div class="bg">

  <div
    class="r pr-16"
  >
    <table>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
</body>
</html>